@import './variable.scss';
@font-face {
    font-family: 'Proxima Nova Bold';       
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Proxima Nova Extra Bold';    
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
}
@font-face {
    font-family: 'Proxima Nova Regular';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Proxima Nova Semibold';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Intro';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Intro.ttf') format('truetype');
}
body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
    color: $font_color;
    font-size: 16px;
    padding: 0 10px;
}

header{    
    .main_menu{       
        background: $white;
        .content_menu{
            display: flex;
            justify-content: space-between;
            align-items: center; 
            line-height: 70px;
            nav{
                width: 50%;
                display: flex;
                justify-content: space-between;
                a{
                    font-family:'Proxima Nova Bold';
                    text-decoration: none;
                    color: $font_color;
                    font-size: 16px;                           
                    border-bottom: 2px solid transparent;
                    &:hover{
                        border-bottom: 2px solid $orange;
                    }
                    svg{
                        margin: 0 5px;
                    }

                }
               
            } 
            .mobile_menu{
                display: none;
                

            }  
        }
        
    }
}
.main_content{
    position: relative;
    height: 80vh; 
    background: $blue; 
    overflow: hidden;  
            
    .main_info{            
        position: relative;
        display: flex;
        align-items: center;
        height: 80vh;
        .text{
            width: 55%;
            h1{
                font-size: 38px;                
                font-family: 'Intro'; 
                color: $white;
                line-height: 53px;
                margin: 0;
                text-transform: uppercase;
            }
            h2{
                font-size: 24px;
                line-height: 31px;
                font-family: 'Intro'; 
                color: $orange;
                text-transform: uppercase;
            } 
            .button{
                font-family: 'Proxima Nova Bold';                 
                display:inline-block;
                font-size: 14px;
                color: $white;
                text-decoration: none;
                border: 2px solid $white;
                padding: 0 37px;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
            }
            .range{
                background: $light_gray;
                border: 1px solid #F3F3F3;
                box-sizing: border-box;
                border-radius: 3px;
                width: 468px;
                height: 15px;
                position: relative;
                margin-top: 72px;
                .content_range{
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    background: #296DCE;
                    border-radius: 2px;
                    height: 9px;
                    width: 57%;
                    font-size: 38px;
                    line-height: 14px;
                    color: $white;
                    font-family: 'Proxima Nova Bold';
                    .left_range_count{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        position: absolute;
                        top: 25px;
                        left: 0px;
                        .number{
                            font-family: 'Proxima Nova Bold';                            
                            font-size: 38px;
                            line-height: 32px;
                            margin-right: 5px;
                        }
                        span{
                            font-size: 14px;                            
                            font-family: 'Proxima Nova Semibold'; 
                        }
                    }
                    .right_range_count{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        position: absolute;
                        top: 25px;
                        left: 100%;
                        .number{
                            font-family: 'Proxima Nova Bold';                            
                            font-size: 38px;
                            margin-right: 5px;
                            line-height: 32px;
                        }
                        span{
                            font-size: 14px;                            
                            font-family: 'Proxima Nova Semibold'; 
                        }
                    }                    

                } 
            }
        }
    
        
        &::after{
            content:url(../image/karpachoff.png);
            position: absolute;
            bottom: -5px;
            right: 0;
            z-index: 10;
            -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            
        }
    }
    
    &::before{
        content:'';
        position: absolute;
        background: rgba(255, 255, 255, 0.07);
        transform: rotate(-10deg);
        width: 900px;
        height: 462px;
        left: 0;
        top: 70vh;
    }
    &::after{
        content:'';
        position: absolute;
        width: 1509.5px;
        height: 310px;
        left: 138.5px;
        top: -220px;
        transform: rotate(8deg);
        background: rgba(255, 255, 255, 0.07);
    }
}
.breadcrumb{    
    list-style: none;
    margin: 0;
    padding: 15px 0;
    li{
        display: inline-block;
        a{
            color: $gray;
            text-decoration: none;
            font-size: 16px;
            line-height: 19px;           
            font-family: 'Proxima Nova Bold'; 
            position: relative;
            padding: 0 35px 0 0;
            margin: 0 10px 0 0;
            
            &::after{
                content: '';
                position: absolute;
                top: 9px;
                right: 0;            
                width: 22px;
                height: 1px;
                background: $gray;
            }  
        }
        &:hover{
            a{
                color: $black;   
            }
        }          
    }
    .active{
        font-size: 16px;
        line-height: 19px;        
        font-family: 'Proxima Nova Bold';
        text-decoration: none;
        color: $black; 
    }   
    
}
.bg_themes{
    background: $thems_gray;    
}

.themes{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    color:$font_color;   
    padding: 20px 0;
    
    h3{
        font-size: 18px;
        line-height: 22px;
        color:$font_color;        
        font-family: 'Proxima Nova Bold';
        position: relative;
        padding: 0 30px;
        &::before{
            content: '';
            position: absolute;
            width: 22px;
            height: 2px;
            left: 0;
            top: 11px;
            background: $font_color;
        }
    }
    select{
        border: 1px solid $orange;
        border-radius: 3px;
        color: $orange;
        background: transparent;
        padding: 10px 35px 10px 10px;
        font-family: 'Proxima Nova Bold';
        outline: none;
        cursor: pointer;
        
    }
}
.items_wrap{
    padding-bottom: 78px; 
}
.items_theme{
    background: $white;
    border: 1px solid $light_gray;
    box-sizing: border-box;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    display: grid;
    grid-template-columns: 2fr 10fr 1fr;
    margin: 23px 23px 0 23px;
    padding-top: 20px;
    .number_theme{
        font-size: 64px;
        line-height: 60px;
        font-family: 'Proxima Nova Bold';
        color: $number_theme;        
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .about_theme{
        font-size: 16px;
        line-height: 27px;
        color: $dark_gray;
        font-family: 'Proxima Nova Regular';        

        h4{
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: $light_blue;
            font-family: 'Proxima Nova Extra Bold';           
            
            margin: 0;
        }
        .age{
            font-size: 16px;
            line-height: 19px;            
            font-family: 'Proxima Nova Bold';
            color: $gray;
            margin: 8px 0;
        }
        p{
            margin: 10px 0;
        }
        .date{
            font-size: 16px;
            line-height: 27px;            
            font-family: 'Proxima Nova Bold';
            color: $dark_gray;
            margin: -2px 0 10px 0;
            span{
                color: $orange;
            }
        }
    }
}
.status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
    span{
        font-family: 'Proxima Nova Bold';
        font-size: 14px;
        line-height: 17px;
        color: $black;
        display: block;
        padding-bottom:55px;
    }
    .status_bar{
        position: relative;
        width: 121px;
        height: 15px;
        background: $light_gray;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 3px;
        transform: rotate(-90deg);
        display: block;
       .some_bar{
            display: block;
            position: absolute;
            background: linear-gradient(90deg, #0099DD 0%, #178EC2 100%);
            border-radius: 1px;            
            height: 9px;
            width: 60%;
            bottom: 2px;
            left: 2px;
            transform: rotate(180deg);
            padding-bottom:0;            
       } 
    }
}
footer{
    background-color: $footer_colour;
    border-bottom: 47px solid $dark_blue;
    padding: 22px 0 33px 0;
    .footer_content{
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        ul{
            list-style: none;           
            svg{
                display:none;
            }
            li{                
                &:first-child{
                    position: relative;
                    margin-bottom: 39px;
                    a{
                        font-family: 'Proxima Nova Bold';
                        font-size: 24px;                                               
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        width: 30px;
                        height: 3px;
                        left: 0;
                        bottom: -20px;
                        background: $white;

                    }
                }
                &:hover{
                    a{
                        color: $black;
                    }
                }
            }
            
        }
        a{
            font-size: 16px;
            line-height: 28px;
            text-decoration: none;
            color: $white;
            font-family: 'Proxima Nova Semibold';            
        }
    }
}

@media (max-width: 900px){
    header {
        .main_menu {
            .content_menu nav {
                width: 66%;  
            }
        }
    }
}
@media (max-width: 800px){
    .main_content {
        height: auto;
        .main_info{
            height: auto;
            padding: 20px 0 70px;
            &::after {
                content: '';
            }
            .text {
                width: 100%;
                .range{
                    width: 100%;
                }
                h1{
                    font-size: 32px;
                    line-height: 45px;
                }
                h2{
                    font-size: 22px;
                    line-height: 29px;
                }
            }
        }
    }
    footer{
       .footer_content{
            grid-template-columns: 6fr 6fr;
        }    
    }
    
}
@media (max-width: 700px){
    header {
        .main_menu {
            .content_menu{
                nav{
                    display: none;
                }
                .mobile_menu{
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 600px){
    .items_theme{
        margin: 23px 0px 0 0px;
        grid-template-columns: 12fr;
        padding: 10px;
        grid-template-areas: 'a b b' 'c c c';
        .number_theme{
            font-size: 40px;
            line-height: 49px;
            justify-content: start;
            grid-area: a;
        }
        .about_theme{
            grid-area: c;
            font-size: 14px;
            line-height: 24px;
           h4 {
            font-size: 19px;
            line-height: 23px;
            letter-spacing: 0.02em;
           }
        } 
    } 
    .status{
        flex-direction: row-reverse;
        span{
            padding-bottom: 0px;
            padding-left: 10px;
        }
        .status_bar{
            transform: rotate(-0deg);
        }
    }
}
@media (max-width: 480px){
    .themes{
        flex-direction: column;
        align-items: flex-start;
        .drop_list{
            width: 100%;
          select{
            width: 100%;
        }  
        }
        
    }
    .breadcrumb{
        display: none;
    }
    
    footer{
        .footer_content{
            grid-template-columns: 12fr;
            ul{
                &:nth-child(1), &:nth-child(2), &:nth-child(3){
                    display: none;
                }
                svg{
                    display: inline-block;
                }
            }
        }
    }
}