@font-face {
  font-family: 'Proxima Nova Bold';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Proxima Nova Extra Bold';
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
}

@font-face {
  font-family: 'Proxima Nova Regular';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: 'Intro';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Intro.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  color: #222B3A;
  font-size: 16px;
  padding: 0 10px;
}

header .main_menu {
  background: #ffffff;
}

header .main_menu .content_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 70px;
}

header .main_menu .content_menu nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main_menu .content_menu nav a {
  font-family: 'Proxima Nova Bold';
  text-decoration: none;
  color: #222B3A;
  font-size: 16px;
  border-bottom: 2px solid transparent;
}

header .main_menu .content_menu nav a:hover {
  border-bottom: 2px solid #FC890D;
}

header .main_menu .content_menu nav a svg {
  margin: 0 5px;
}

header .main_menu .content_menu .mobile_menu {
  display: none;
}

.main_content {
  position: relative;
  height: 80vh;
  overflow: hidden;
  background: #56c3e0 url(../image/module_bg.jpg) no-repeat;
  background-size: cover;
}

.main_content .name_main_content {
  background: #222B3A;
  width: 50%;
  margin-top: 112px;
  padding: 19px 0;
}

.main_content .name_main_content h1 {
  font-family: 'Intro';
  color: #ffffff;
  font-size: 44px;
  line-height: 44px;
  margin: 0;
  text-align: right;
  padding-right: 15%;
}

.main_content .text {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_content .text p {
  font-family: 'Proxima Nova Bold';
  color: #222B3A;
  font-size: 16px;
  line-height: 27px;
}

.main_content .text h3 {
  font-family: 'Proxima Nova Bold';
  color: #ffffff;
  font-size: 24px;
  line-height: 41px;
}

.main_content .range {
  background: #F3F3F3;
  border: 1px solid #F3F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  width: 468px;
  height: 15px;
  position: relative;
  margin-top: 41px;
  margin-bottom: 114px;
}

.main_content .range .content_range {
  position: absolute;
  top: 2px;
  left: 2px;
  background: #296DCE;
  border-radius: 2px;
  height: 9px;
  width: 57%;
  font-size: 38px;
  line-height: 14px;
  color: #ffffff;
  font-family: 'Proxima Nova Bold';
}

.main_content .range .content_range .left_range_count {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 25px;
  left: 0px;
}

.main_content .range .content_range .left_range_count .number {
  font-family: 'Proxima Nova Bold';
  font-size: 38px;
  line-height: 32px;
  margin-right: 5px;
}

.main_content .range .content_range .left_range_count span {
  font-size: 14px;
  font-family: 'Proxima Nova Semibold';
}

.main_content .range .content_range .right_range_count {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 25px;
  left: 100%;
}

.main_content .range .content_range .right_range_count .number {
  font-family: 'Proxima Nova Bold';
  font-size: 38px;
  margin-right: 5px;
  line-height: 32px;
}

.main_content .range .content_range .right_range_count span {
  font-size: 14px;
  font-family: 'Proxima Nova Semibold';
}

.bg_gray {
  background: #FAFAFA;
}

.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 15px 0;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb li a {
  color: #979FAD;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Proxima Nova Bold';
  position: relative;
  padding: 0 35px 0 0;
  margin: 0 10px 0 0;
}

.breadcrumb li a::after {
  content: '';
  position: absolute;
  top: 9px;
  right: 0;
  width: 22px;
  height: 1px;
  background: #979FAD;
}

.breadcrumb li:hover a {
  color: #323232;
}

.breadcrumb .active {
  font-size: 16px;
  line-height: 19px;
  font-family: 'Proxima Nova Bold';
  text-decoration: none;
  color: #323232;
}

.name_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name_section h2 {
  font-family: 'Proxima Nova Bold';
  font-size: 32px;
  line-height: 39px;
  color: #222B3A;
  position: relative;
  padding-left: 30px;
  overflow: hidden;
  width: 100%;
}

.name_section h2::before, .name_section h2::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-width: 0 10px;
  vertical-align: middle;
  height: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 0 100%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.name_section h2::before {
  width: 22px;
  left: 0;
  border: 1px solid #222B3A;
}

.name_section h2::after {
  width: 100%;
  margin-left: 10px;
  border: 1px solid #F1F1F1;
}

.name_section svg {
  margin-left: 10px;
  cursor: pointer;
}

.section_content {
  padding-bottom: 65px;
}

.section_content form ol {
  counter-reset: myCounter;
  padding: 0;
}

.section_content form ol li {
  border-bottom: 1.3px solid #F3F3F3;
  list-style: none;
  position: relative;
}

.section_content form ol li::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 24px;
  counter-increment: myCounter;
  content: counter(myCounter);
  font-family: 'Proxima Nova Bold';
  color: #222B3A;
  background: #F3F3F3;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.section_content form ol li .content_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Proxima Nova Bold';
  color: #222B3A;
  position: relative;
  cursor: pointer;
}

.section_content form ol li .content_list input[type="checkbox"]:checked,
.section_content form ol li .content_list input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.section_content form ol li .content_list label {
  padding: 23px 55px 27px 80px;
  cursor: pointer;
}

.section_content form ol li .content_list label::before {
  content: "";
  position: absolute;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 25px;
  height: 25px;
  background: #0099DD;
  border-radius: 3px;
}

.section_content form ol li .content_list label::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  right: 5px;
  top: -3px;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.section_content form ol li .content_list input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

.section_content form ol li .content_list input[type="checkbox"]:not(:checked) + label:before {
  background: #FAFAFA;
  border: 1px solid #DADADA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_content form ol li .content_list input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.section_content form ol li:last-child {
  border-bottom: 1.3px solid transparent;
}

.item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 57px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 57px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "number icons info info info info info info info info check check";
  border: 1.5px solid #F3F3F3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  background: #ffffff;
  margin-bottom: 10px;
}

.item:hover {
  border: 1.5px solid #FFA43F;
}

.item:hover .number span {
  background: #FFA43F;
  color: #ffffff;
}

.item:hover .check::before {
  background: #DFDADA;
}

.item:hover .check::after {
  right: -25px;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox .check {
  position: relative;
}

.checkbox .check::before {
  content: '';
  position: absolute;
  top: -1px;
  bottom: 0;
  margin: auto;
  right: 0;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #FFA43F;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

.checkbox .check::after {
  content: '';
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  top: -1px;
  right: 26px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s;
  transition: .2s;
}

.checkbox input[type="checkbox"]:checked + .check:before {
  background: #FFA43F;
}

.checkbox input[type="checkbox"]:checked + .check:after {
  right: 26px;
}

.number {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: number;
}

.number span {
  font-family: 'Proxima Nova Bold';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 3px 0px;
  background: #F3F3F3;
  line-height: 30px;
  color: #323232;
  font-size: 16px;
  text-align: center;
}

.icons {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icons;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 55px;
}

.icons svg {
  margin: 0 auto;
}

.info {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-area: info;
  padding: 40px 0;
}

.info .practika {
  color: #027EB4;
}

.info span {
  font-family: 'Proxima Nova Bold';
  font-size: 16px;
  line-height: 19px;
  color: #979FAD;
  margin-right: 29px;
}

.info p {
  font-family: 'Proxima Nova Bold';
  color: #222B3A;
  font-size: 24px;
  line-height: 29px;
}

.info a {
  font-family: 'Proxima Nova Bold';
  margin-right: 51px;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #696969;
}

.info a svg {
  fill: #696969;
  margin-right: 11px;
}

.info a:hover {
  color: #FF8A00;
}

.info a:hover svg {
  fill: #FF8A00;
}

.check {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-area: check;
}

footer {
  background-color: #0099DD;
  border-bottom: 47px solid #222B3A;
  padding: 25px 0 37px 0;
}

footer .footer_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3fr)[4];
      grid-template-columns: repeat(4, 3fr);
}

footer .footer_content ul {
  list-style: none;
}

footer .footer_content ul svg {
  display: none;
}

footer .footer_content ul li:first-child {
  position: relative;
  margin-bottom: 40px;
}

footer .footer_content ul li:first-child a {
  font-family: 'Proxima Nova Bold';
  font-size: 24px;
}

footer .footer_content ul li:first-child::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
  bottom: -20px;
  background: #ffffff;
}

footer .footer_content a {
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Proxima Nova Semibold';
}

@media (max-width: 700px) {
  header .main_menu .content_menu nav {
    display: none;
  }
  header .main_menu .content_menu .mobile_menu {
    display: block;
  }
  .section_content form ol li .content_list {
    font-size: 14px;
    line-height: 17px;
  }
  .section_content form ol li .content_list label {
    padding: 23px 30px 27px 45px;
  }
  .section_content form ol li::before {
    margin: auto 5px;
  }
  .name_section h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .item {
    padding: 30px 18px;
    -ms-grid-rows: 57px 1fr;
        grid-template-rows: 57px 1fr;
    -ms-grid-columns: 57px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 57px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "number icons none none none none none none none none check check" "info info info info info info info info info info info info";
  }
  .item .info a {
    background: #FAFAFA;
    border: 1px solid #DFDADA;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    line-height: 40px;
    padding: 0;
    width: 144px;
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
  }
  .item .info a svg {
    margin-right: 5px;
  }
  .item .info a:last-child {
    margin-right: 0px;
  }
  .item .info p {
    font-size: 20px;
    line-height: 24px;
  }
  .item .icon {
    margin-right: 0;
  }
}
/*# sourceMappingURL=module.css.map */