@import './variable.scss';
@font-face {
    font-family: 'Proxima Nova Bold';       
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Proxima Nova Extra Bold';    
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
}
@font-face {
    font-family: 'Proxima Nova Regular';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Proxima Nova Semibold';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Intro';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Intro.ttf') format('truetype');
}
body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
    color: $font_color;
    font-size: 16px;
    padding: 0 10px;
}

header{    
    .main_menu{       
        background: $white;
        .content_menu{
            display: flex;
            justify-content: space-between;
            align-items: center; 
            line-height: 70px;
            nav{
                width: 50%;
                display: flex;
                justify-content: space-between;
                a{
                    font-family:'Proxima Nova Bold';
                    text-decoration: none;
                    color: $font_color;
                    font-size: 16px;                           
                    border-bottom: 2px solid transparent;
                    &:hover{
                        border-bottom: 2px solid $orange;
                    }
                    svg{
                        margin: 0 5px;
                    }

                }
               
            } 
            .mobile_menu{
                display: none;
                

            }  
        }
        
    }
}
.main_content{
    position: relative;
    height: 80vh;     
    overflow: hidden;  
    background: $main_blue_bg url(../image/module_bg.jpg) no-repeat;
    background-size: cover;
    .name_main_content{
        background: $dark_blue;
        width: 50%;
        margin-top: 112px; 
        padding: 19px 0;       
        h1{
            font-family: 'Intro'; 
            color: $white;
            font-size: 44px;
            line-height: 44px;
            margin: 0;
            text-align: right;
            padding-right: 15%;
        }
    }
    .text{
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            font-family: 'Proxima Nova Bold';
            color: $dark_blue;
            font-size: 16px;
            line-height: 27px;
        }
        h3{
            font-family: 'Proxima Nova Bold';
            color: $white;
            font-size: 24px;
            line-height: 41px;
        }
    }
    .range{
        background: $light_gray;
        border: 1px solid #F3F3F3;
        box-sizing: border-box;
        border-radius: 3px;
        width: 468px;
        height: 15px;
        position: relative;
        margin-top: 41px;
        margin-bottom: 114px;
        .content_range{
            position: absolute;
            top: 2px;
            left: 2px;
            background: #296DCE;
            border-radius: 2px;
            height: 9px;
            width: 57%;
            font-size: 38px;
            line-height: 14px;
            color: $white;
            font-family: 'Proxima Nova Bold';
            .left_range_count{
                display: grid;
                grid-template-columns: 1fr 1fr;
                position: absolute;
                top: 25px;
                left: 0px;
                .number{
                    font-family: 'Proxima Nova Bold';                            
                    font-size: 38px;
                    line-height: 32px;
                    margin-right: 5px;
                }
                span{
                    font-size: 14px;                            
                    font-family: 'Proxima Nova Semibold'; 
                }
            }
            .right_range_count{
                display: grid;
                grid-template-columns: 1fr 1fr;
                position: absolute;
                top: 25px;
                left: 100%;
                .number{
                    font-family: 'Proxima Nova Bold';                            
                    font-size: 38px;
                    margin-right: 5px;
                    line-height: 32px;
                }
                span{
                    font-size: 14px;                            
                    font-family: 'Proxima Nova Semibold'; 
                }
            }                    

        } 
    }
}
.bg_gray{
    background: $thems_gray;
}
.breadcrumb{    
    list-style: none;
    margin: 0;
    padding: 15px 0;
    li{
        display: inline-block;
        a{
            color: $gray;
            text-decoration: none;
            font-size: 16px;
            line-height: 19px;           
            font-family: 'Proxima Nova Bold'; 
            position: relative;
            padding: 0 35px 0 0;
            margin: 0 10px 0 0;
            
            &::after{
                content: '';
                position: absolute;
                top: 9px;
                right: 0;            
                width: 22px;
                height: 1px;
                background: $gray;
            }  
        }
        &:hover{
            a{
                color: $black;   
            }
        }        
    }
    .active{
        font-size: 16px;
        line-height: 19px;        
        font-family: 'Proxima Nova Bold';
        text-decoration: none;
        color: $black; 
    }
}

.name_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
        font-family: 'Proxima Nova Bold';
        font-size: 32px;
        line-height: 39px;
        color: $dark_blue;
        position: relative;
        padding-left: 30px;
        overflow: hidden;
        width: 100%;
        &::before, &::after
        {   
            content: '';
            position: absolute;
            display: inline-block;            
            border-width: 0 10px;
            vertical-align: middle;
            height: 0px;
            box-sizing: border-box;
            
            border-width: 0 100%;
            top: 0;            
            bottom: 0;
            margin: auto;
        }
        &::before{
            width: 22px; 
            left: 0;
            border: 1px solid $dark_blue;
        }
        &::after{          
           width: 100%;
           margin-left: 10px;
           border: 1px solid $light_gray_line; 
        }         
    }
    svg{
        margin-left: 10px;
        cursor: pointer;
    }
}
.section_content{
    padding-bottom: 65px;
    form{
        ol{
            counter-reset: myCounter;
            padding: 0;
            li{               
                border-bottom: 1.3px solid $light_gray;
                list-style: none;
                position: relative;
                &::before{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto 24px;
                    counter-increment: myCounter;
                    content:counter(myCounter);
                    font-family: 'Proxima Nova Bold';
                    color: $dark_blue;
                    background:$light_gray;
                    display: inline-block;
                    text-align: center;                    
                    font-size: 16px;
                    line-height: 30px;
                    width: 30px;
                    height: 30px;
                    border-radius: 3px;                    
                } 
                .content_list{
                    display: flex;
                    flex-direction:row;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 16px;
                    line-height: 19px;
                    font-family: 'Proxima Nova Bold';
                    color: $dark_blue;
                    position: relative;
                    cursor: pointer;
                    
                    input[type="checkbox"]:checked, 
                    input[type="checkbox"]:not(:checked){
                        position: absolute;
                        left: -9999px;
                        
                    }
                                                        
                    
                    label{
                        padding: 23px 55px 27px 80px;
                        cursor: pointer; 
                        &::before{
                            content: "";
                            position: absolute;
                            margin: auto;
                            right:0;
                            top: 0;
                            bottom: 0;
                            display: block;                                    
                            width: 25px;
                            height: 25px;                        
                            background: $footer_colour;
                            border-radius: 3px;  
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            -webkit-transition: all 0.2s ease;
                            -moz-transition: all 0.2s ease;
                            -o-transition: all 0.2s ease;
                            transition: all 0.2s ease;

                            right: 5px;
                            top: -3px;
                            bottom: 0;
                            margin: auto;
                            width: 10px;
                            height: 5px;
                            border-radius: 1px;
                            border-left: 4px solid $white;
                            border-bottom: 4px solid $white;
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }                                             
                    }

                    input[type="checkbox"]:not(:checked) + label:after { 
                            opacity: 0;
                    }
                    input[type="checkbox"]:not(:checked) + label:before { 
                        background: #FAFAFA;
                        border: 1px solid #DADADA;
                        box-sizing: border-box;
                    }
                    input[type="checkbox"]:checked + label:after{
                        opacity: 1;        
                    }
                } 
                &:last-child{
                    border-bottom: 1.3px solid transparent; 
                }                             
            }
            
            
           
        }
    }
}

.item{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 57px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas:
        "number icons info info info info info info info info check check"; 
    border: 1.5px solid $light_gray;
    box-sizing: border-box;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
    border-radius: 3px; 
    background: $white;
    margin-bottom: 10px;
    &:hover{
        border: 1.5px solid $dark_orange;
        .number{
            span{
                background: $dark_orange;
                color: $white;
            }
        }
        
        .check{
            &::before {                            
                
                background: $gray_bg_button;
            }
            &::after {
                right: -25px;
            }
        }
            
       
    }    
}
.checkbox {
    input[type="checkbox"] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 20px;
    } 
    .check{
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: -1px;
            bottom:0;
            margin: auto;
            right: 0;
            left: 0;
            width: 50px;
            height: 26px;
            border-radius: 13px;
            background: $dark_orange;
            box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
            transition: .2s;
            
        }
        &::after {
            content: '';
            position: absolute;            
            bottom:0;
            margin: auto;            
            left: 0;
            top: -1px;
            right: 26px;
            width: 22px;
            height: 22px;
            border-radius: 10px;
            background: $white;
            box-shadow: 0 2px 5px rgba(0,0,0,.3);
            transition: .2s;
        }
    }
    input[type="checkbox"]:checked + .check:before {
        background: $dark_orange;
    }
    input[type="checkbox"]:checked + .check:after {
        right: 26px;
    }
    
    
}
  
  
.number{
    grid-area: number;
    span{
        font-family: 'Proxima Nova Bold';
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 3px 0px;
        background: $light_gray;
        line-height: 30px;
        color: $black;
        font-size: 16px;
        text-align: center;
    }
}
.icons{
    grid-area: icons;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-right: 55px;    
    svg{
        margin: 0 auto;
    }
}
.info{
    grid-area: info;
    padding: 40px 0;
    .practika{
        color:$blue_text;
    }
    span{
        font-family: 'Proxima Nova Bold';
        font-size: 16px;
        line-height: 19px;
        color: $age_colour;
        margin-right: 29px;
    }
    p{
        font-family: 'Proxima Nova Bold';
        color: $dark_blue;
        font-size: 24px;
        line-height: 29px;
    }
    a{
        svg{
            fill:$dark_gray;
            margin-right: 11px;
        }
        font-family: 'Proxima Nova Bold';
        margin-right: 51px;
        text-decoration: none;
        font-size: 18px;
        line-height: 22px;
        color: $dark_gray;
        &:hover{
            color: $link_orange;
            svg{
               fill: $link_orange; 
            }
        }
    }
}
.check{
    grid-area: check;
}

.dop_ex{
    .item{
        border:none;
        border-bottom: 1.5px solid $light_gray;
        box-sizing: border-box;
        box-shadow:none;
        border-radius: 0; 
    }
    .number{
        span{
            border-radius: 3px;
        }
    }
}

h4{
    font-family: 'Proxima Nova Bold';
    font-size: 24px;
    line-height: 29px;
    color: $blue_text;
}

.block{
    display: flex;
    flex-direction: column;        
    justify-content: space-between;        
    border-radius: 3px;
    background: $white;
    font-family: 'Proxima Nova Semibold';
    font-size: 16px;
    line-height: 19px;
    color: $black;
    padding:25px 30px;
    margin-bottom: 2px;
    position: relative;
    .text_block{
        width: 80%;
        &::before{
            content: "";
            position: absolute;
            margin: auto;
            right:30px;
            top: 0;
            bottom: 0;
            display: block;                                    
            width: 25px;
            height: 25px;                        
            background: $footer_colour;
            border-radius: 3px;  
        }
        &::after{
            content: "";
            position: absolute;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;

            right: 35px;
            top: -3px;
            bottom: 0;
            margin: auto;
            width: 10px;
            height: 5px;
            border-radius: 1px;
            border-left: 4px solid $white;
            border-bottom: 4px solid $white;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 20px;
    }        
    
    input[type="checkbox"]:not(:checked) + .text_block:after { 
        opacity: 0;              
    }
    input[type="checkbox"]:not(:checked) + .text_block:before { 
        background: #FAFAFA;
        border: 1px solid #DADADA;
        box-sizing: border-box;                
    }
    input[type="checkbox"]:checked +.text_block:after{
        opacity: 1;
    }    
} 

.warning{
    background: linear-gradient(89.14deg, #FF8A00 0.03%, #FC880D 99.97%), #FFA43F;
    color:$white;
    font-family: 'Proxima Nova Bold';
    font-size: 18px;
    line-height: 45px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin: 40px 0;
    border-radius: 3px;
    svg{
        margin-right: 20px;
    }
}

.orange_block{
    h4{
        color:$dark_orange;
    }
    .block{
        .text_block{
            &::before{
               background: $dark_orange;
            }
        }
    }
}
.activity_block{
    background: $thems_gray;
    border: 1px solid $activity_border;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-family: 'Proxima Nova Bold';
    font-size: 22px;
    line-height: 75px;
    padding: 0 30px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
}
.name_activity{
    svg{
        margin-right: 28px;
    }
}
.question_block{
    box-shadow:none;
    .new_question{
        font-size: 16px;
        line-height: 27px;
        color:$footer_colour;
    }
    .count{
        font-size: 20px;
        line-height: 34px;
        margin: 0 34px; 
    }
}
.btn{
    font-family: 'Proxima Nova Bold';
    font-size: 14px;
    line-height: 44px;
    color:$dark_orange;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 258px;
    border: 2px solid $dark_orange;
    margin-right: 25px;
    &:hover{
        background: linear-gradient(89.73deg, #FF8A00 0.03%, #FC880D 99.97%);
        color:$white;
    }
}


footer{
    background-color: $footer_colour;
    border-bottom: 47px solid $dark_blue;
    padding: 25px 0 37px 0;
    .footer_content{
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        ul{
            list-style: none;           
            svg{
                display:none;
            }
            li{                
                &:first-child{
                    position: relative;
                    margin-bottom: 40px;
                    a{
                        font-family: 'Proxima Nova Bold';
                        font-size: 24px;                                               
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        width: 30px;
                        height: 3px;
                        left: 0;
                        bottom: -20px;
                        background: $white;

                    }
                }

            }
            
        }
        a{
            font-size: 16px;
            line-height: 30px;
            text-decoration: none;
            color: $white;
            font-family: 'Proxima Nova Semibold';            
        }
    }
}

@media (max-width: 700px){
    header {
        .main_menu {
            .content_menu{
                nav{
                    display: none;
                }
                .mobile_menu{
                    display: block;
                }
            }
        }
    }
    .section_content{
        form{
            ol{
                li{
                  .content_list{
                      label{
                          padding: 23px 30px 27px 45px;
                      }
                        
                        font-size: 14px;
                        line-height: 17px;
                    }
                    &::before{
                        margin: auto 5px;
                    }  
                }
            }
        }
    }
    .name_section{
        h2{
            font-size: 24px;
            line-height: 29px;
        }
    }

    .item{
        padding: 30px 18px;
        grid-template-rows: 57px 1fr;
        grid-template-columns: 57px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-areas:
            "number icons none none none none none none none none check check"
            "info info info info info info info info info info info info";
        .info{
            a{
                background: #FAFAFA;
                border: 1px solid #DFDADA;
                box-sizing: border-box;
                border-radius: 3px;
                line-height: 40px;
                padding: 0;
                width: 144px;
                font-size: 14px;
                display: inline-block;
                margin-right: 15px;
                text-align: center;
                svg{
                    margin-right: 5px;
                }
                &:last-child{
                    margin-right: 0px
                }
            } 
            p{
                font-size: 20px;
                line-height: 24px;
            }
        }
        
        .icon{
            margin-right: 0;
        }
    }
    .name_activity{
        font-size: 16px;
        line-height: 19px;
    }
    .question_block{
        .count{
            font-size: 14px;
            line-height: 24px;
        }
    }
    .btn{
        
        display: block;
        width: 100%;
        border: 2px solid $dark_orange;
        margin-right: 0;
        margin-bottom: 10px;
        
    }
    
    
}