$font_color:#222B3A;
$black:#323232;
$orange:#FC890D;
$blue:#296DCE;
$light_blue:#1092CB;
$footer_colour:#0099DD;
$dark_blue:#222B3A;
$white:#ffffff;
$light_gray:#F3F3F3;
$thems_gray:#FAFAFA;
$gray:#979FAD;
$age_colour:#979FAD;
$dark_gray:#696969;
$number_theme:#E1E1E1;